*{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 0;
    width: 100%;
    background-color: black;
}
/* cabeçaho da pagina */
.cabecalho{ 
    width: 100%;
    height: 280px;

    padding-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;

    background: linear-gradient(to bottom, rgba(58, 1, 110, 0.651), rgba(47, 4, 236, 0.589) 40%, rgba(21, 2, 95, 0.979) 70%);
    box-shadow: 0px 10px 40px rgb(87, 87, 202);
}

.foto{
    background-image: url("../imagens/foto_perfil_linkedin.jpeg");
    background-size: 200px;
    background-position: 100% 80%;

    border-radius: 50%;

    width: 200px;
    height: 200px;
    box-shadow: 8px 8px 1px rgb(2, 0, 128);
}

.habilidade{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.habilidade:hover img{
    width: 35px;
    height: 35px;
    background-color: rgba(137, 43, 226, 0.626);
    box-shadow: 0px 0px 20px rgb(149, 0, 122);
}

.habilidade img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.habilidades-todas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* container principal */
.container{
    width: 80%;
    padding: 20px;
    margin: auto;
}

/* menu lateral e icones de navegação */
.menu-lateral{
    height: 260px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: fixed;
    left: 0;
    top: 0;
}

.menu-lateral a{
    text-decoration: none;
    font-size: 22px;
    color: rgb(76, 43, 226);
}

.icones{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(76, 43, 226);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.icones:hover {
    background-color: rgba(76, 43, 226, 0.671);
    box-shadow: 0px 0px 20px rgb(76, 43, 226);
}

.icones img{
    width: 35px;
    height: 35px;
    
}

/* sobre */
.sobre{
    width: 100%;
    margin: auto;
}
.sobre h1{
    width: fit-content;
}

.texto-branco{
    color: white;
}

.texto-azul{
    color: rgb(0, 255, 242);
}

.artigo-sobre{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    width: 100%;
}

.artigo-sobre img{
    width: 300px;
    height: auto;
    object-fit: fill;
    border-radius: 25px;
}

.sobre-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-info div:nth-last-child(1){
    gap: 20px;
    font-size: 30px;
}

.sobre-info div a i:hover{
    border-radius: 50%;
    background-color: rgba(76, 43, 226, 0.671);
    box-shadow: 0px 0px 20px rgb(66, 26, 241);
}

.sobre-info p{
    text-align: justify;
}

/* section de projetos */
.projetos{
    width: 100%;
    margin: auto;
}

.alinhar-texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.alinhar-texto-esquerda{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.projetos-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.projeto{
    overflow: hidden;
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.projetos-flex::after, .projetos-flex::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), red, blue, rgb(1, 75, 1) ,red);
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: spin 5s linear infinite;
}

.projetos-flex::before{
    filter: blur(1.0rem);
    opacity: 0.5rem;
}

.projeto .slide-track{
    display: flex;
    animation: slider 12s linear infinite;
    -webkit-animation: slider 12s linear infinite;
    width: calc(650px*8);
}

.projeto .slide{
    width: 650px;
}

.projeto .slide img{
    width: 100%;
    height: 100%;
}

.info-do-projeto{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    display: none;
    transition: all 1s ease-in;
    backdrop-filter: blur(3px);
}

.info-do-projeto a{
    text-decoration: none;

    width: 200px;
    height: 30px;

    text-align: center;
    padding-top: 10px;
    
    border-radius: 20px;

    background-color: blue;

    margin: 0 auto 0 auto;
    transition: all 0.5s ease-in;
}

.info-do-projeto a:hover{
    border-top: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;
    
    box-shadow: 0px 0px 30px blueviolet;
    text-shadow: 3px 3px 3px white;
    font-size: 18px;
}

.projeto:hover .info-do-projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: radial-gradient(rgba(182, 182, 182, 0.422), rgba(23, 0, 59, 0.884)75%);
}

/* formulário */

.section-formulario{
    width: fit-content;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    height: auto;
    background-color: rgba(173, 216, 230, 0.212);
    border-radius: 20px;
}

.formulario{
    width: 80%;
}

.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.um-input .inputs, .textarea textarea{
    border: none;
    border-bottom: 1px solid white;
    box-shadow:  
    2px 2px 5px white;
    background: rgba(182, 182, 182, 0.219);

    font-size: 22px;

    width: 550px;
    height: 50px;

    padding-left: 10px;
    position: relative;

    outline: none;
}

.um-input, .textarea {
    position: relative;
}

.um-input label {
    width: fit-content;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 10px;
    transition: all 0.2s linear;
}

.textarea label{
    width: fit-content;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.2s linear;
}

form .um-input .inputs:focus ~label, form .textarea textarea:focus ~label,
form .um-input .inputs:valid ~label, form .textarea textarea:valid ~label{
    transform: translateY(-40px);
    font-size: 18px;
    color: rgb(0, 255, 242);
}

.textarea textarea{
    height: 250px;
    padding-top: 10px;
    resize: none;
    overflow: scroll;
}

.textarea textarea::-webkit-scrollbar{
    width: 20px;
    height: 100%;
}

.textarea textarea::-webkit-scrollbar-track{
    background-color: rgb(201, 201, 201);
}

.textarea textarea::-webkit-scrollbar-thumb{
    background: rgba(47, 4, 236, 0.801);
    border-top-right-radius: 15px 25px; 
    border-bottom-right-radius: 15px 25px;
}

.btn-enviar{
    width: fit-content;
    height: auto;
}

.btn-enviar input{
    width: 120px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 255, 242);
    background: rgba(182, 182, 182, 0.219);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.493) ,
    5px 5px 10px black;
    transition: all 0.5s ease-in-out;
    
}

.btn-enviar input:hover{
    width: 130px;
    height: 50px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.493) inset,
    -5px -5px 10px black inset;
}

@keyframes slider {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-650px * 4));
        transform: translateX(calc(-650px * 4));
    }
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
   from{
    --angle: 0deg;
   }
   to{
    --angle: 360deg;
   }
}


