*{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 0;
    width: 100%;
    background-color: black;
}
/* cabeçaho da pagina */
.cabecalho{ 
    width: 100%;
    height: 280px;

    padding-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;

    background: linear-gradient(to bottom, rgba(58, 1, 110, 0.651), rgba(47, 4, 236, 0.589) 40%, rgba(21, 2, 95, 0.979) 70%);
    box-shadow: 0px 10px 40px rgb(87, 87, 202);
}

.foto{
    background-image: url("../imagens/foto_perfil_linkedin.jpeg");
    background-size: 200px;
    background-position: 100% 80%;

    border-radius: 50%;

    width: 200px;
    height: 200px;
    box-shadow: 8px 8px 1px rgb(2, 0, 128);
}

.habilidade{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.habilidade:hover img{
    width: 35px;
    height: 35px;
    background-color: rgba(137, 43, 226, 0.626);
    box-shadow: 0px 0px 20px rgb(149, 0, 122);
}

.habilidade img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.habilidades-todas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* container principal */
.container{
    width: 100%;
    padding: 20px;
}

/* menu lateral e icones de navegação */
.menu-lateral{
    height: 260px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: fixed;
    left: 0;
    top: 0;
}

.menu-lateral a{
    text-decoration: none;
    font-size: 22px;
    color: rgb(76, 43, 226);
}

.icones{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(76, 43, 226);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.icones:hover {
    background-color: rgba(76, 43, 226, 0.671);
    box-shadow: 0px 0px 20px rgb(76, 43, 226);
}

.icones img{
    width: 35px;
    height: 35px;
    
}

.sobre{
    width: 80%;
    margin: auto;
}
.sobre h1{
    width: fit-content;
}

.texto-branco{
    color: white;
}

.texto-azul{
    color: rgb(0, 255, 242);
}

/* section de projetos */
.projetos{
    width: 80%;
    margin: auto;
}

.alinhar-texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.projetos-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 10px;
    height: 300px;
}


.projeto{
    overflow: hidden;
    margin: auto;
    height: 100%;
    width: 100%;
}
.projeto .slide-track{
    display: flex;
    animation: slider 12s linear infinite;
    -webkit-animation: slider 12s linear infinite;
    width: calc(650px*8);
}

.projeto .slide{
    width: 650px;
}

.projeto .slide img{
    width: 100%;
}

@keyframes slider {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-650px * 4));
        transform: translateX(calc(-650px * 4));
    }
}

.info-do-projeto{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    display: none;
    transition: all 1s ease-in;
}
.info-do-projeto a{
    text-decoration: none;

    width: 200px;
    height: 30px;

    text-align: center;
    padding-top: 10px;
    
    border-radius: 20px;

    background-color: blue;

    margin: 0 auto 0 auto;
    transition: all 0.5s ease-in;
}

.info-do-projeto a:hover{
    border-top: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;

    box-shadow: 0px 0px 30px blueviolet;
    text-shadow: 3px 3px 3px white;
    font-size: 18px;
}

.projeto:hover .info-do-projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(182, 182, 182, 0.422), rgba(23, 0, 59, 0.884)75%);
}

